section.home-locations {
  color: $gray;
  font-size: 1.8rem;
  line-height: 1.6;
  text-align: center;
  h2 {
    margin-bottom: 30px;
  }
  a {
    color: inherit;
  }
  .home-location-box {
    cursor: pointer;
    &:hover {
      box-shadow: 2px 2px 21px 2px $gray-border;
    }
  }
}